<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<dict>
		<key>show</key>
		<dict>
			<key>request</key>
			<dict>
				<key>parameters</key>
				<dict>
					<key>books</key>
					<dict>
						<key>key</key>
						<string>myBooks</string>
						<key>flat</key>
						<true/>
						<key>identifier</key>
						<string>book_id</string>
					</dict>
					<key>identifier</key>
					<string>author_id</string>
				</dict>
			</dict>
		</dict>
		<key>index</key>
		<dict>
			<key>response</key>
			<dict>
				<key>parameters</key>
				<dict>
					<key>identifier</key>
					<string>id</string>
					<key>firstname</key>
					<string>firstname</string>
					<key>lastname</key>
					<string>lastname</string>
					<key>books</key>
					<dict>
						<key>identifier</key>
						<string>id</string>
						<key>title</key>
						<string>book_title</string>
						<key>price</key>
						<string>price</string>
					</dict>
				</dict>
			</dict>
			<key>request</key>
			<dict>
				<key>parameters</key>
				<dict>
					<key>identifier</key>
					<dict>
						<key>key</key>
						<string>id</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
